<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
		<clear />
	    <add key="github" value="https://nuget.pkg.github.com/geomatics-io/index.json" />   	  
  </packageSources>
  <packageSourceCredentials>
        <github>
            <add key="Username" value="christianjunk" />
            <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAT8eSDgJLF0yj3lce9y+5hwAAAAACAAAAAAADZgAAwAAAABAAAAA2VSdexNXo/luPRGgpiFDiAAAAAASAAACgAAAAEAAAAF9aqm8DjYY/nQGtHCKyxJMwAAAAi2aQPSQp5SIt+HkuFuRYwtccu8Sc2AMmvCmnGWhhhclK6MhKeDZlr7UCwfwKxLGtFAAAALIEdm+d5rCVuC+ljDeWh20aPvdi" />
        </github>
    </packageSourceCredentials>
</configuration>